.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lockedpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.video-part {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -5;
}

.video-part.left {
  clip-path: inset(0 50% 0 0);
  left: 0;
}

.video-part.right {
  clip-path: inset(0 0 0 50%);
  right: 0;
}

.rotating-button {
  position: float;
  border-radius: 50%;
  transition-property: scale box-shadow opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  align-content: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 0 0 #8A00C4;

}
.rotating-button:hover{
  box-shadow: 0 0 25px 20px #8A00C4;
}
.rotating-button.clicked{
  scale: 200%;
  opacity: 0;
}
.rotating-button.clicked:hover{
  box-shadow: 0 0 0 0
}

.fingerprint{
  width: 65%;
  height: 65%;
  object-fit: contain;
}