@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora&family=Poppins:wght@300&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}
.lockedpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: opacity 0.5s linear;
  opacity: 1;
}
.lockedpage.animate{
  opacity: 0;
}
.video-part {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}


.video-part.left {
  clip-path: inset(0 50% 0 0);
  left: 0;
  translate: 0;
  transition: translate 1.5s ease-out 0s;

}

.video-part.right {
  clip-path: inset(0 0 0 50%);
  right: 0;
  translate: 0;
  transition: translate 1.5s ease-out 0s;
}

.video-part.left.unlock{
  translate: -60%;  
}
.video-part.right.unlock{
  translate: 60%;    
  
}



.rotating-button {
  position: float;
  border-radius: 50%;
  background-color: #8A00C4;
  transition-property: box-shadow opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  align-content: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 0 0 #8A00C4;
  opacity: 0.8;
  z-index: 2;
}
.rotating-button:hover{
  box-shadow: 0 0 25px 20px #8A00C4;
}
.rotating-button.clicked{
  box-shadow: 0 0 100px 100px #8A00C4;
  opacity: 0;
}
.fingerprint{
  width: 65%;
  height: 65%;
  object-fit: contain;
  transition-property: scale box-shadow opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
}
.fingerprint.clicked{
  scale: 200%;
  opacity: 0;
}
.temp{
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}


.mypage {
  display: flex;
  flex-direction: column;
}




.progress-bar{
  display: none;
}

@supports(animation-timeline:scroll()){
  .progress-bar{
    display: block;
    position: fixed;
    bottom:0;
    width:100%;
    height:0.5em;
    animation: progress linear;
    animation-timeline: scroll();
    background-color:lightgreen;
    transform-origin: left;
    scale: 0 1;
  }
} 
@keyframes progress{
  to{
    scale: 1 1.5;
  }
}


.grey{
  background-color: grey;
  color:black;
}
.white{
  background-color: white;
  color:black;
}
.black{
  background-color: black;
  color:white;
}
.content-container{
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-top: 8vh;
}
.content-container::-webkit-scrollbar{
  display: none;
}
.scrollable-container{
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  
}
.scrollable-container::-webkit-scrollbar {
  display: none;
}
.no-list-default-style{
  list-style-type: none;
}
.scrollable-container.top{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 0.15em solid black;
  z-index: 2;
  height:8vh;
  padding: 0.5em;
}
.scrollable-bar-items{
  transition: 0.25s ease-in;
  scale: 100%;
  width: auto;
  padding: 1em;
  margin:1em;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}
.selected-white{
  background-color: white;
  scale:120%;
  box-shadow: 0 0 10px 2.5px black inset;
  word-wrap: break-word;
}
.selected-black{
  background-color: black;
  scale:120%;
  box-shadow: 0 0 10px 5px black;
}

.fade-in{
  animation: fade-in 0.5s ease-in 1;
}

@keyframes fade-in{
  0%{
    scale: 1.2;
    opacity: 0;
  }
  100%{
    scale:1;
    opacity:1;
  }
}
.theme-button{
  position: fixed;
  right:1em;
  bottom:1em;
  border-radius: 40em;
  width:5vw;
  height:5vw;
  box-shadow: 0 0 10px 3px;
  opacity: 0;
  animation:button-animation 0.5s ease-in forwards;
  transition:transform 0.3s ease-in;
  transform: translateY(90%);
}
.theme-button:hover{
  transform: translateY(0);

}
@keyframes button-animation{
  to{opacity: 1;}
}
.theme-icon{
  object-fit: contain;
  width: 100%;
  height:100%;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  gap:1em;  
  align-self: center;
  background-color: rgba(128, 128, 128, 0.45);
  height:100vh;
  width:100%;
  overflow: scroll;
  box-sizing: border-box; 

  
}
.profile-section.dark{
  box-shadow: 20px 10px 20px -15px white inset, -20px 10px 20px -15px white inset;

}
.profile-section.light{
  box-shadow: 20px 10px 20px -15px black inset, -20px 10px 20px -15px black inset;
}
@supports(animation: pop-in 1s linear forwards){
  .profile-section {
    animation: pop-in 0.5s 0.5s ease-in forwards;
    transform: scale(0);
    opacity: 0;

  }
}
.profile-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-picture {
  display: block;
  object-fit: cover;
  width: 20vw; 
  height: 20vw ; 
  margin-right:2.5em;
  border-radius: 50%; 
  box-shadow: 0 0 10px 10px grey;
}
.profile-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:60%;
  height:100%;
}


@keyframes slide-in-left{
  to{
    transform: translateX(0);
  }
}
@keyframes pop-in{
  to{
    transform: scale(1);
    opacity: 1;
  }
}
.games-section{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  height:100vh;
  justify-content: center;

}
.games-section.dark{
  box-shadow: 20px 10px 20px -15px white inset, -20px 10px 20px -15px white inset;

}
.games-section.light{
  box-shadow: 20px 10px 20px -15px black inset, -20px 10px 20px -15px black inset;
}
@supports(animation: zoom-in linear){
  .games-section {
    animation: pop-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
    transform: scale(0);
    opacity: 0;
  }
  
}

.selectable-area{
  display:grid;
  grid-template-columns: [left] 0.1fr [leftMiddle] 0.8fr [rightMiddle] 0.1fr[right];
  grid-template-rows: [top] 30vh [bottom];
  gap:1em;
}
.select-button.left{
  grid-area:top/left/bottom/leftMiddle;
  height:3em;
  width: 3em;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border-radius: 50%;
  background-color: white;
  opacity: 0.65;
}
.select-button.right{
  grid-area:top/rightMiddle/bottom/right;
  background-color: transparent;
  height:3em;
  width: 3em;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  background-color: white;
  opacity: 0.65;
}
.select-button.left img{
  object-fit: contain;
  width:100%;
  height:100%;
  transform: rotate(180deg);
}
.select-button.right img{
  object-fit: contain;
  width:100%;
  height:100%;
}
.games.list {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
}

.gameIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: scale(1);
  transition:transform 0.25s ease-in;
}
.gameIcons.selected{
  transform: scale(1.1);
}
.game-icon {
  width: 10vw; 
  height: 10vw; 
  object-fit: cover;
  border-radius: 25%; 
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.game-description {
  width: 65vw;
  height:20vh;
  word-wrap: break-word;
  text-align: center;
  overflow: scroll;
  animation: pop-in 0.25s ease-in forwards;
  transform: scale(0);
  opacity: 0;
}
.video{
  object-fit: cover;
  position: absolute;
  z-index: -1;
  opacity:0.65;
  width: 100%;
  height: 100%;
}
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-slab-bold {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto-slab-normal{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
